<%- include('partials/header.ejs') %>

<div class="flex flex-col">
    <div class="container mt-12 justify-center items-center">
        <h2 class="text-3xl">Edit Your Blog Post</h2>
        <form action="/edit" method="POST">
            <div class="form-group">
                <label for="title">Blog Title:</label><br>
                <textarea class="rounded border-slate-900 border" id="title" name="title" placeholder="" rows="10" cols="50" required><%= blog.title %></textarea><br>
            </div>

            <div class="form-group">
                <label for="content">Blog Content:</label><br>
                <textarea class="rounded border-slate-900 border" id="content" name="content" placeholder="" rows="10" cols="50" required><%= blog.content %></textarea><br><br>
            </div>

            <input type="submit" value="Submit" class="rounded border-slate-900 border">
            <input type="hidden" name="id" value="<%= blog.id %>">
        </form>
        <form action="/delete" method="POST" class="mt-10">
            <input type="submit" value="Delete" formaction="/delete" class="rounded border-slate-900 border">
            <input type="hidden" name="id" value="<%= blog.id %>">
        </form>
    </div>
</div>

<%- include('partials/footer.ejs') %>